#mainLoadProfile{
    width: 100%;
    height: 100%;
    /* background-color: beige; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    
}

.fieldLoadProfile{
    margin-top: 0.8rem;
    width: 100%;
    text-align: center;
    background-color:rgba(173, 216, 230 , 0.9);
    padding:0.5rem;
    border-radius:0.8rem;
    cursor: pointer;
}